<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @comment.user.nickname %>さんから回答をいただきました。</h1>
    <p>タイトル:<%= @comment.question.title %></p>
    <p>質問者はしっかりと確認し改善しましょう！！</p>
  </body>
</html>