<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @question.user.nickname %>さんが質問しました。</h1>
    <p>タイトル:<%= @question.title %></p>
    <p>メールをご確認いただきありがとうございます。</p>
    <p>回答いただけると幸いです。</p>
  </body>
</html>