h2{
  text-align: center;
}

.user-sain{
  display: flex;
  justify-content: center;
  .form-field{
    width: 100%;
    height: 30px;
  }

  .sub-btn{
    text-align: center;
  }
}
#erasure{
  height: 40px;
  // margin-left: 290px;
}
